{{#each playlists}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Total Duration: {{duration}} </p>
       <a href="/playlist/{{id}}" class="ui icon button"> <i class="ui folder icon"></i> </a>
    <a href="/playlist/deleteplaylist/{{id}}" class="ui icon button"><i class="ui trash icon"></i></a>
  </section>
{{/each}}